<div class="flex justify-around w-full bg-orange-500 h-20 navbar">

    <div class="self-center w-40 ">
      <%= link_to image_tag("https://ezeat.s3.ap-northeast-1.amazonaws.com/ezeat_logo.png", border: 10), root_path %>
    </div>

    <div class="self-center w-7/12">
      <div class="flex justify-end h-20">
        <% if signed_in? %>
          <div class="text-base font-medium text-gray-700 inline-block py-7 px-3.5 tracking-widest">
            <%= t(:hello, name: current_user.name) %>
          </div>
          <%= link_to(t('common.navigation.profile'), user_root_path, class:"text-base font-medium text-white hover:bg-orange-300 hover:text-gray-900 inline-block py-7 px-3.5 tracking-widest transition duration-300") %>
          <%= link_to(t('devise.sessions.new.sign_out'), destroy_user_session_path, method: 'delete', class:"text-base font-medium text-white hover:bg-orange-300 hover:text-gray-900 inline-block py-7 px-3.5 tracking-widest transition duration-300") %>
        <% else %>
          <%= link_to(t('devise.sessions.new.sign_in'), user_session_path, class:"text-base font-medium text-white hover:bg-orange-300 hover:text-gray-900 inline-block py-7 px-3.5 tracking-widest transition duration-300") %>
          <%= link_to(t('devise.registrations.new.sign_up'), new_user_registration_path, class:"text-base font-medium text-white hover:bg-orange-300 hover:text-gray-900 inline-block py-7 px-3.5 tracking-widest transition duration-300 mr-5") %>
        <% end %>
      </div>
    </div>

    <div class="self-center">
      <div id="navTarget" class="dropDown" >
        <button class="inline-flex py-2 px-10 rounded-t-md shadow-sm bg-white text-base tracking-widest text-gray-700 hover:bg-orange-100">
          <%= t 'common.navigation.navigate' %>
          <svg class="ml-2 w-4 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <div id="navDropDown" class="hidden z-30 absolute text-base bg-white rounded-b-md divide-y divide-gray-100 shadow dark:bg-orange-100 dark:divide-gray-600 pr-1.5">
          <% if signed_in? %>
            <div class="py-3 px-4 text-gray-900 dark:text-white">
              <span class="block text-sm py-1 text-orange-600"><%= current_user.name %></span>
            </div>
          <% end %>
          <ul class="py-1 w-44">
            <li>
              <%= link_to(t('common.navigation.home_page'), root_path, class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white") %>
            </li>
            <li>
              <%= link_to('我的票券', myorders_path, class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-orange-100 dark:text-gray-200 dark:hover:text-white") %>
            </li>
            <li>
              <% if has_company %>
              <%= link_to(t('common.navigation.backend_management'), backend_company_path(current_user.company.id), class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-orange-100 dark:text-gray-200 dark:hover:text-white") %>
              <% else %>
              <%= link_to(t('common.navigation.become_our_partners'), new_backend_company_path, class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-orange-100 dark:text-gray-200 dark:hover:text-white") %>
              <% end %>
            </li>
          </ul>
          <div class="py-1">
            <%= link_to(t('common.navigation.blog'), root_path, class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-orange-100 dark:text-gray-200 dark:hover:text-white") %>
          </div>
        </div>
      </div>
    </div>

    <div class="self-center justify-end w-32">
      <div class="dropDown" id="navTargetLg">
        <button class="inline-flex rounded-md border border-red-700 shadow-sm px-4 py-2 bg-orange-300 text-sm font-medium text-gray-700 hover:bg-orange-200 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-offset-orange-100 focus:ring-orange-200">
          <%= t 'common.navigation.site_language' %>
          <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <div id="navDropDownLg" class="hidden z-30 absolute right-25 text-base bg-orange-300 rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
          <ul class="py-1">
            <li class="py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" >
              <%= link_to(t('common.site_languages.chinese'), :locale => "zh-TW") %>
            </li>
            <li class="py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" >
              <%= link_to(t('common.site_languages.english'), :locale => "en") %>
            </li>
            <li class="py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" >
              <%= link_to(t('common.site_languages.japanese'), :locale => "ja") %>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>