<h1>核銷確認中...</h1>

<div><%= params[:order_id] %></div>
<div><%= params[:store_id] %></div>
<div><%= params[:writeoff_number] %></div>

<% if params[:writeoff_number] === @order_list.order_number %>
<%= "核銷成功"%>
<% else %>
<%= "核銷失敗"%>
<% end %>