<div class="w-10/12 m-auto">
	<div class="border-b-2 px-4 py-10">
		<div class="flex pb-3">

			<div class="flex-1">
				<div class="w-10 h-10 bg-white border-2 border-blue-400 mx-auto rounded-full text-lg text-blue-400 flex items-center">
					<span class="text-center w-full">
          <%= link_to "1", backend_company_path(@store.company)%>
          </span>
				</div>
			</div>

			<div class="w-1/5 align-center items-center align-middle content-center flex">
				<div class="w-full bg-grey-light rounded items-center align-middle align-center flex-1">
					<div class="bg-blue-400 text-xs leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>

			<div class="flex-1">
				<div class="w-10 h-10 bg-blue-400 border-2 border-blue-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-center w-full">2</span>
				</div>
			</div>

			<div class="w-1/5 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1">
					<div class="bg-gray-400 text-xs leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>

			<div class="flex-1">
				<div class="w-10 h-10 bg-white border-2 border-gray-400 mx-auto rounded-full text-lg text-gray-400 flex items-center">
					<span class="text-center w-full">3</span>
				</div>
			</div>

  		<div class="w-1/5 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1">
					<div class="bg-gray-400 text-xs leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>

			<div class="flex-1">
				<div class="w-10 h-10 bg-white border-2 border-gray-400 mx-auto rounded-full text-lg text-gray-400 flex items-center">
					<span class="text-center w-full">4</span>
				</div>
			</div>

		</div>

		<div class="flex text-lg content-center text-center py-1">
			<div class="w-1/6 text-sm text-blue-400">
        <span><%= link_to "回分店列表", backend_company_path(@store.company)%></span>
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/6 text-sm text-blue-400">
				<span>分店</span>
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/6 text-sm text-gray-400">
			  <span>餐飲方案<span>
			</div>

  		<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/6 text-sm text-gray-400">
			  <span>訂位時段＆人數</span>
			</div>
		</div>
	</div>

  <h2 class="flex justify-center py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
    <%= @store.name %>訂位列表
  </h2>

  <!-- 互動按鈕 !-->
  <div class=" w-2/3 m-auto rounded-md mb-5">
    <div class="flex justify-center mt-3 flex-wrap text-center ">

        <%= link_to "回上一頁", backend_store_path(@store), class:"text-l font-bold mx-2 w-1/4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 bg-white hover:bg-gray-300 h-15 py-5" %>

        <%= link_to "修改分店資訊", edit_backend_store_path(@store), class:"text-l font-bold mx-2 w-1/4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 bg-white hover:bg-gray-300 h-15 py-5" %>
    </div>
  </div>


  <table class="min-w-full border-collapse block md:table">
		<% @order_summary.each do |order| %>
      <thead class="block md:table-header-group">
        <tr class="border border-gray-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">訂位日期</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">訂位時段</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">方案名稱</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">訂位人姓名</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">訂位人電話</th>
				  <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">訂位人數</th>
          <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">核銷</th>
        </tr>
      </thead>

      <tbody class="block md:table-row-group">
        <tr class="bg-white-300 border border-gray-500 md:border-none block md:table-row">
          <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">訂位日期</span>
            <%= order.order_date %>
          </td>
          <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">訂位時段</span>
            <%= order.order_time.to_datetime.strftime("%H:%M") %>
          </td>
          <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">方案名稱</span>
						<%= order.order_dish %>
					</td>
          <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">訂位人姓名</span>
						<%= order.name %>
					</td>
          <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">訂位人電話</span>
            <%= order.tel %>
          </td>
			    <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">訂位人電話</span>
            <%= order.order_people %>
          </td>
          <td class="pl-4 py-2 md:border md:border-gray-500 text-left block md:table-cell">
						<%if order.ticket === "已核銷"%>
							<div class="bg-green-100 text-gray-600 font-bold w-32 text-center py-2 px-4 rounded">核銷完成</div>
						<% else %>
							<%= form_with url: new_backend_writeoff_path , method: "get" do |form| %>
								<%= form.text_field :writeoff_number, placeholder: '請輸入客戶提供的核銷碼' %>
								<%= form.text_field :order_id, value: order.id, class:"invisible" %>
								<div><%= form.submit '確認核銷' %></div>
							<% end %>
						<% end %>
          </td>
        </tr>
    </tbody>
	<% end %>
  </table>
