<h1>分店名稱：<%= @dish.store.name %></h1>
<h2>方案名稱：<%= @dish.name %></h2>
<!-- component -->
<table class="min-w-full border-collapse block md:table">
		<thead class="block md:table-header-group">
			<tr class="border border-gray-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
				<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">開放訂位日期</th>
         <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">開放時段</th>
				<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">編輯</th>
       
      </tr>
		</thead>

		<tbody class="block md:table-row-group">
      <% @open_dates.each do |open_date| %>
        <tr class="bg-white-300 border border-gray-500 md:border-none block md:table-row">
          <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">開放訂位日期</span>
            <%= open_date.availible_date %>
          </td>          
          
          <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell">
            <span class="inline-block w-1/3 md:hidden font-bold">編輯開放時段</span>
            <% open_date.offers.each do |offer|%>
              <%= link_to "#{offer.availible_time.strftime("%H:%M")}", edit_backend_offer_path(offer), class:"bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-2 border border-gray-500 rounded" %>
            <%end%>

              <%= link_to "新增開放時段", backend_open_date_offers_path(open_date), class:"bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 border border-green-500 rounded"  %>
          </td>

          <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell">
            <span class="inline-block w-1/3 md:hidden font-bold flex">編輯</span>  
              <%= link_to edit_backend_open_date_path(open_date), class: "inline-block bg-gray-400 hover:bg-gray-500 text-white font-bold py-1 px-2 border border-gray-400 rounded" do %>
                修改資料
              <% end %>

              <%= link_to "刪除日期", backend_open_date_path(open_date), method: :delete, data: { confirm: "確定刪除?" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded inline-block" %>
          </td>
        </tr>
      <% end %>
	</tbody>
</table>

<%= link_to "新增可訂位日期", new_backend_dish_open_date_path(@dish), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded"%>

<%= link_to " 回方案列表", backend_store_dishes_path(@dish.store), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded"%>