<h1>分店名稱：<%= @dish.store.name %></h1>
<h2>方案名稱：<%= @dish.name %></h2>
<!-- component -->
<table class="min-w-full border-collapse block md:table">
		<thead class="block md:table-header-group">
			<tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
				<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">開放訂位日期</th>
				<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">開放狀態</th>
        <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-grey-500 text-left block md:table-cell">目前開放座位數</th>
      </tr>
		</thead>

		<tbody class="block md:table-row-group">
      <% @open_dates.each do |open_date| %>
        <tr class="bg-white-300 border border-grey-500 md:border-none block md:table-row">

          <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">開放訂位日期</span>
            <%= open_date.availible_date %>
          </td>          
          
          <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
            <span class="inline-block w-1/3 md:hidden font-bold flex">開放狀態</span>            
              <%= if open_date.is_open == false
                open_date.is_open = "未開放"
              else
                open_date.is_open = "開放中"
              end%>

              <%= link_to edit_backend_open_date_path(open_date), class: "inline-block bg-stone-400 hover:bg-stone-500 text-white font-bold py-1 px-2 border border-stone-400 rounded" do %>
                修改資料
              <% end %>

              <%= link_to "刪除日期", backend_open_date_path(open_date), data: { "turbo-method": :delete, confirm: "確定刪除?" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded inline-block" %>
          </td>


          <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
            <span class="inline-block w-1/3 md:hidden font-bold">目前開放座位數</span>
            <button>
              <%= link_to "目前開放座位數", backend_open_date_offers_path(open_date), class:"bg-lime-500 hover:bg-lime-700 text-white font-bold py-1 px-2 border border-lime-500 rounded"  %>
            </button>
          </td>

        </tr>
      <% end %>
	</tbody>
</table>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">
  <%= link_to new_backend_dish_open_date_path(@dish) do %>
     新增可訂位日期
  <% end %>
</button>
