<div class="w-8/12 h-full m-auto">
  <div class="border-b-2 px-4 py-10">
		<div class="flex pb-3">

			<div class="flex-1">
				<div class="w-10 h-10 bg-white border-2 border-blue-400 mx-auto rounded-full text-lg text-blue-400 flex items-center">
					<span class="text-center w-full">
          <%= link_to "1", backend_company_path(@dish.store.company)%>
          </span>
				</div>
			</div>

			<div class="w-1/5 align-center items-center align-middle content-center flex">
				<div class="w-full bg-grey-light rounded items-center align-middle align-center flex-1">
					<div class="bg-blue-400 text-lg leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>

			<div class="flex-1">
				<div class="w-10 h-10 bg-white border-2 border-blue-400 mx-auto rounded-full text-lg text-blue-400 flex items-center">
					<span class="text-center w-full">
          <%= link_to "2", backend_store_path(@dish.store)%>
          </span>
				</div>
			</div>

			<div class="w-1/5 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1">
					<div class="bg-blue-400 text-lg leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>

			<div class="flex-1">
				<div class="w-10 h-10 bg-white border-2 border-blue-400 mx-auto rounded-full text-lg text-blue-400 flex items-center">
					<span class="text-center w-full">3</span>
				</div>
			</div>

  		<div class="w-1/5 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1">
					<div class="bg-blue-400 text-lg leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>

			<div class="flex-1">
				<div class="w-10 h-10 bg-blue-400 border-2 border-blue-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-center w-full">4</span>
				</div>
			</div>

		</div>

		<div class="flex text-lg content-center text-center py-1">
			<div class="w-1/6 text-lg text-blue-400">
        <span><%= link_to "回分店列表", backend_company_path(@dish.store.company)%></span>
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/6 text-lg text-blue-400">
				<span><%= link_to "回#{@dish.store.name}", backend_store_path(@dish.store)%></span>
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/6 text-lg text-blue-400">
			  <span><%= link_to "回餐飲方案", backend_store_dishes_path(@dish.store)%><span>
			</div>

  		<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/6 text-lg text-blue-400">
			  <span>訂位時段＆人數</span>
			</div>
		</div>
	</div>

  <h2 class="flex justify-center py-5 px-5 mx-5 font-bold text-4xl text-gray-800 text-center">
    <%= @dish.name %>訂位時段＆人數
  </h2>


  <%= form_with url: new_backend_dish_template_path, method: "get" do |form| %>
    <div class="w-full lg:w-11/12 px-4 mx-auto mt-6">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blue-100 border-0">
        <div class="rounded-t mb-0 px-6 py-6 bg-blue-300">
          <div class="text-center flex justify-between ">
            <h6 class=" text-xl font-bold">設定日期＆訂位規則</h6>
          </div>
        </div>

        <div class="bg-gray-100 flex-auto px-4 lg:px-10 py-10 pt-0">
          <h6 class=" text-lg mt-6 mb-3 font-bold uppercase">起迄日期</h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <%= form.label :start_date, '開始日期', class: 'block uppercase text-gray-600 text-m font-bold mb-2' %>
                <%= form.date_field :start_date, min: Date.today ,class: 'border-0 px-3 py-3 placeholder-gray-600 text-gray-400 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150' %>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <%= form.label :end_date, '結束日期', class: 'block uppercase text-gray-600 text-m font-bold mb-2' %>
                <%= form.date_field :end_date, min: Date.today ,class: 'border-0 px-3 py-3 placeholder-gray-600 text-gray-400 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150' %>
              </div>
            </div>
          </div>

          <hr class="mt-6 border-b-1 border-gray-400">
          <h6 class="text-lg mb-3 mt-6 font-bold uppercase">排除星期幾</h6>

          <div class="flex flex-wrap justify-between">
            <span class="mx-3">
              <%= form.select(:exclude_mon, [["保留每週一",8], ["移除每週一",1]], {selected: "保留每週一"}, { :class => 'text-blue-500 text-sm py-2 px-6 my-3 border-b-4 border-blue-600 rounded bg-white w-1/8 inline-block align-middle bg-white hover:bg-blue-400 hover:text-white'}) %>
            </span>
            <span class="mx-3">
              <%= form.select(:exclude_tue, [["保留每週二",8], ["移除每週二",2]], {selected: "保留每週二"}, { :class => 'text-blue-500 text-sm py-2 px-6  my-3 border-b-4 border-blue-600 rounded bg-white w-1/8 inline-block align-middle bg-white hover:bg-blue-400 hover:text-white'}) %>
            </span>
            <span class="mx-3">
              <%= form.select(:exclude_wen, [["保留每週三",8], ["移除每週三",3]], {selected: "保留每週三"}, { :class => 'text-blue-500 text-sm py-2 px-6  my-3 border-b-4 border-blue-600 rounded bg-white w-1/8 inline-block align-middle bg-white hover:bg-blue-400 hover:text-white'}) %>
            </span>
            <span class="mx-3">
              <%= form.select(:exclude_thr, [["保留每週四",8], ["移除每週四",4]], {selected: "保留每週四"}, { :class => 'text-blue-500 text-sm py-2 px-6  my-3 border-b-4 border-blue-600 rounded bg-white w-1/8 inline-block align-middle bg-white hover:bg-blue-400 hover:text-white'}) %>
            </span>
            <span class="mx-3">
              <%= form.select(:exclude_fri, [["保留每週五",8], ["移除每週五",5]], {selected: "保留每週五"}, { :class => 'text-blue-500 text-sm py-2 px-6  my-3 border-b-4 border-blue-600 rounded bg-white w-1/8 inline-block align-middle bg-white hover:bg-blue-400 hover:text-white'}) %>
            </span>
            <span class="mx-3">
              <%= form.select(:exclude_sat, [["保留每週六",8], ["移除每週六",6]], {selected: "保留每週六"}, { :class => 'text-blue-500 text-sm py-2 px-6  my-3 border-b-4 border-blue-600 rounded bg-white w-1/8 inline-block align-middle bg-white hover:bg-blue-400 hover:text-white'}) %>
            </span>
            <span class="mx-3">
              <%= form.select(:exclude_sun, [["保留每週日",8], ["移除每週日",0]], {selected: "保留每週日"}, { :class => 'text-blue-500 text-sm py-2 px-6  my-3 border-b-4 border-blue-600 rounded bg-white w-1/8 inline-block align-middle bg-white hover:bg-blue-400 hover:text-white'}) %>
            </span>
          </div>

          <hr class="mt-6 border-b-1 border-gray-400">
          <h6 class="text-lg mt-6 mb-3 font-bold uppercase">可訂位時段及人數</h6>

          <div data-controller="date-form", class= "">
            <div class="flex">
              <div class="w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <%= form.label :start_time, '開始時間', class: 'block uppercase text-gray-600 text-m font-bold mb-2" htmlfor="grid-password' %>
                  <%= form.time_select :start_time, {:minute_step => 30}, class: 'border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150' %>
                </div>
              </div>
              <div class="w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <%= form.label :end_time, '結束時間', class: 'block uppercase text-gray-600 text-m font-bold mb-2" htmlfor="grid-password' %>
                  <%= form.time_select :end_time, {:minute_step => 30}, class: 'border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150' %>
                </div>
              </div>
              <div class="w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <%= form.label :people_amount, '[開始-結束]時間區間,可訂位人數', class: 'block uppercase text-gray-600 text-m font-bold mb-2" htmlfor="grid-password' %>
                  <%= form.select(:people_amount, [["10"], ["20","20"], ["30"], ["40"], ["50"], ["60"], ["70"], ["80"], ["90"], ["100"], ["120"], ["140"], ["160"], ["180"], ["200"]], {selected: "20"}, { :class => 'border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150'})%>
                </div>
              </div>
            </div>
          </div>

          <template data-target="date-form.template">
          </template>

          <div class="flex pt-10">
            <div class="w-full px-4 mb-3">
              <%= form.submit '送 出 條 件 並 自 動 產 生', class: 'border-0 px-3 py-3 text-white bg-blue-500 rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 cursor-pointer tracking-widest' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <h3 class="flex justify-center py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-2xl text-gray-800">
    編輯個別時段＆人數
  </h3>

  <!-- 編輯個別日期 -->
  <% @open_dates.each do |open_date| %>
    <%= form_with model: [:backend, open_date] do |form| %>
      <table class="border-collapse block md:table w-full">
          <thead class="block md:table-header-group ">
            <tr class="border border-gray-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative text-center">
              <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 block md:table-cell">訂位日期</th>
              <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 block md:table-cell">訂位時段及人數</th>
              <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 block md:table-cell">更新</th>
            <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 block md:table-cell">刪除日期</th>
            </tr>
          </thead>

          <tbody class="block md:table-row-group">
            <tr class="bg-white-300 border border-gray-500 md:border-none block md:table-row">
                <td class="p-2 md:border md:border-gray-500 block md:table-cell text-center w-2/12 ">
                  <span class="inline-block w-1/3 md:hidden font-bold">修改訂位日期</span>
                  <% if open_date.orders.present?%>
                    <%= open_date.availible_date %>
                  <% else %>
                  <%= form.date_field :availible_date, class: 'bg-gray-200' %>
                  <% end %>
                </td>

                <td class="p-2 md:border md:border-gray-500 md:table-cell w-6/12 ">
                  <div class="flex justify-center flex-wrap">
                    <span class="md:hidden font-bold ">訂位時段</span>
                    <div data-controller="date-form", class= "">
                      <template data-target="date-form.template">
                        <%= form.fields_for :offers, Offer.new, child_index: "ADD_OFFER" do |offer|%>
                          <%= render "offer_fields", form: offer %>
                        <%end%>
                      </template>

                      <div class="">
                        <%= form.fields_for :offers do |offer|%>
                          <%= render "offer_fields", form: offer %>
                        <%end%>
                      </div>

                      <div data-target="date-form.link">
                        <%=link_to "新增", "#", class: "bg-gray-400 hover:bg-gray-500 text-white font-bold py-1 px-2 border border-gray-400 rounded w-80 ", data: {action: "date-form#add_offer"} %>
                      </div>
                    </div>
                  </div>
                </td>

                <td class="p-2 md:border md:border-gray-500 text-center flex md:table-cell w-42 justify-between w-2/12 ">
                <%= form.submit value="更新", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
                <%= link_to "取消", backend_store_dishes_path(@dish.store), class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
                </td>

                <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell w-2/12 ">
                  <% if open_date.orders.present?%>
                    <div class="bg-yellow-200 text-gray-500 font-bold py-1 px-2 border border-yellow-500 rounded text-center">該日已有訂位</div>
                  <% else %>
                  <%= link_to "刪除日期", backend_dish_path(@dish), method: :delete, data: { confirm: "Are you sure?" }, class:"bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded" %>
                  <% end %>
                </td>

            </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>

</div>

