<%= @company.name %>
  <div class="w-10/12 h-full m-auto">
    <%# 選擇分店 %>
    <div class="w-10/12 m-auto p-8 border border-gray-300 rounded-md my-5 shadow-xl">
      <h1 class="border-b-2 border-gray-300">選擇分店</h1>

      <div class="flex mt-3 flex-wrap">
        <% @company.stores.each do |store| %>
          <div class="w-1/3 p-3">
            <%= link_to backend_store_dishes_path(store) do %>
              <div class="">
                <%= image_tag store.image_url if store.image_url.present? %>
              </div>
              <div class="text-lg font-bold"><%= store.name %></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="">
          <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounde">
            <%= link_to "新增分店", new_backend_company_store_path(@company)%>
          </div>
      </div>
      
    </div>

    </div>
  </div>