<div class="m-auto lg:w-8/12 md:w-10/12 sm:w-full">
	<div class="bg-white p-8 rounded-md w-full">
		<div class="flex items-center justify-between pb-6">
			<div>
				<h2 class="text-gray-600 font-semibold md:text-2xl tracking-widest">我 的 票 券</h2>
			</div>
			<div>
				<%= search_form_for @q, url: myorders_path do |f| %>
					<div class="flex bg-gray-50 items-center p-2 rounded-md">
						<%= f.label :store_name_cont, "搜尋" %>
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
						</svg>
						<%= f.search_field :store_name_cont, class:"bg-gray-50 outline-none ml-1 block search-fliter", placeholder:"search" %>
						<%= f.submit "查詢", class:"p-1 text-sm bg-orange-100 rounded-sm" %>
					</div>
				<% end %>
			</div>
		</div>

		<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
			<div class="inline-block min-w-full shadow rounded-lg overflow-hidden">

			<div class="min-w-full order-table">
				<div class="relative p-3">
					<div class="sticky top-0 md:flex md:w-full text-xs text-center font-semibold text-gray-700 bg-orange-50">
						<div class="py-3 md:w-2/12">狀態</div>
						<div class="py-3 md:w-4/12">餐廳</div>
						<div class="py-3 md:w-3/12">方案名稱</div>
						<div class="py-3 md:w-3/12">預訂日期</div>
					</div>
				</div>
				<div>
					<%= render 'myorders/search' %>
				</div>
			</div>
		</div>
	</div>
</div>