<%# header %>
<div class="relative bg-gray-500 h-20">
  <div class="max-w-7xl h-20 mx-auto px-2 sm:px-6">
    <div class="flex justify-between items-center border-gray-100 py-6 md:justify-between md:space-x-10">
      <div class="flex justify-between lg:w-0 lg:flex-1">
        <div class="w-24">
          <%= link_to "EZeat後台", backend_companies_path, class:"" %>
          </a>
        </div>
      </div>

      <div class="w-36 hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <% if signed_in? %>
        <div class="whitespace-nowrap text-base font-medium text-gray-500 bg-yellow-200 hover:text-gray-900 p-2 m-1 rounded-md">
          <%= t(:hello, name: current_user.name) %>
        </div>
          <%= link_to(t('common.navigation.profile'), edit_user_registration_path, class:"whitespace-nowrap text-base font-medium text-gray-500 bg-white hover:text-gray-900 p-2 m-1 rounded-md") %>
          <%= link_to(t('devise.sessions.new.sign_out'), destroy_user_session_path, method: 'delete', class:"whitespace-nowrap text-base font-medium text-gray-500 bg-white hover:text-gray-900 p-2 m-1 rounded-md") %>
        <% else %>
          <%= link_to(t('devise.sessions.new.sign_in'), user_session_path, class:"whitespace-nowrap text-base font-medium text-gray-500 bg-white hover:text-gray-900 p-2 m-1 rounded-md") %>
          <%= link_to(t('devise.registrations.new.sign_up'), new_user_registration_path, class:"whitespace-nowrap text-base font-medium text-gray-500 bg-white hover:text-gray-900 p-2 m-1 rounded-md") %>
        <% end %>
      </div>

      <nav class="md:mr-auto">
        <div class="relative inline-block text-left">
          <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-orange-200" type="button">
            <%= t 'common.navigation.navigate' %> 
            <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>

          <div id="dropdownInformation" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
            <% if signed_in? %>
              <div class="py-3 px-4 text-gray-900 dark:text-white">
                <span class="block text-sm"><%= current_user.name %></span>
                <span class="block text-sm font-medium truncat"><%= current_user.email %></span>
              </div>
            <% end %>
            <ul class="py-1" aria-labelledby="dropdownInformationButton">
              <li>
                <%= link_to(t('common.navigation.home_page'), root_path, class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white") %>
              </li>
              <li>
                <%= link_to(t('common.navigation.faq'), root_path, class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white") %>
              </li>
              <li>
                <% if has_company %>
                  <%= link_to(t('common.navigation.backend_management'), backend_company_stores_path(current_user.company.id), class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white") %>
                <% else %>
                  <%= link_to(t('common.navigation.become_our_partners'), new_backend_company_path, class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white") %>
                <% end %>
              </li>
            </ul>
              <div class="py-1">
                <%= link_to(t('common.navigation.blog'), root_path, class:"block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white") %>
              </div>
          </div> 
        </div>
      </nav>
      
    </div>
  </div>
</div>
