<div class='w-full'>
  <div class="md:flex md:items-center mb-6">
    <div class=" ">
        <h1 class='block text-black-500 text-3xl font-bold md:text-right mb-1 md:mb-0 pr-4'>編輯分店資訊</h1>
    </div>
  </div>

    <div class="md:grid md:gap-6 ">
      <div class="mt-5 md:mt-0 ">
        <%= form_with model: [:backend,:company, @store] do |form| %>
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= form.label :name, '分店名稱', class:"block text-sm font-medium text-gray-700"%>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= form.text_field :name, class:"focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"%>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= form.label :food_type, '餐飲類型', class:"block text-sm font-medium text-gray-700"%>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= form.select :food_type, options_for_select(Store.food_types.map {|key, value| [key, Store.food_types.key(value)]}, @store.food_type), class:"focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"%>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= form.label :tel, '分店電話', class:"block text-sm font-medium text-gray-700"%>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= form.text_field :tel, class:"focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= form.label :address, '分店地址', class:"block text-sm font-medium text-gray-700"%>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= form.text_field :address, class:"focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"%>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= form.label :open_time, '開店時間', class:"block text-sm font-medium text-gray-700"%>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= form.time_select :open_time, { minute_step: 30}, class:"focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"%>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= form.label :close_time, '打烊時間', class:"block text-sm font-medium text-gray-700"%>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= form.time_select :close_time, { minute_step: 30}, class:"focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"%>
                  </div>
                </div>
              </div>

              <div>
                <%= form.label :intro, '分店介紹', class:"block text-sm font-medium text-gray-700"%>
                <div class="mt-1">
                  <%= form.text_area :intro, class:"shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"%>
                </div>
                <p class="mt-2 text-sm text-gray-500">
                  請簡述分店特色，並分享推薦餐點內容
                </p>
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700">
                  分店照片
                </label>
                <div class="mt-1 flex items-center">
                  <span class="inline-block h-45 w-80 rounded-lg overflow-hidden bg-gray-100">
                    <%= image_tag @store.image_url if @store.image_url.present? %>
                  </span>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700">
                  更換分店照片
                </label>
                <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                  <div class="space-y-1 text-center">
                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                      <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="flex text-sm text-gray-600">
                      <%= form.label :image, '點此更換分店照片', class:"relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500" %>
                      <%= form.file_field :image, id: :store_image %>
                    </div>
                    <p class="text-xs text-gray-500">
                      PNG, JPG up to 10MB
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <%= form.submit value="送出", class:"inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>

              <%= link_to "取消", backend_company_path(params[:company_id]), class:"inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>