<h1>分店名稱：<%= @store.name %></h1>
<%= link_to "編輯分店資料", edit_backend_store_path(@store), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded"%>
<%= link_to "檢視分店所有方案", backend_store_dishes_path(@store), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded"%>
<%= link_to "回分店列表", backend_company_path(@store.company), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded"%>
<h2>訂位清單</h2>
<h3>今天日期 <%= DateTime.current.to_date %> </h3>
<%= link_to "查看其他天訂位", "", class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded"%>
<table class="min-w-full border-collapse block md:table">
		<thead class="block md:table-header-group">
			<tr class="border border-gray-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto  md:relative ">
				<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">訂位時段</th>
        <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">方案名稱</th>
				<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">定位人姓名</th>
				<th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">訂位人電話</th>
        <th class="bg-gray-600 p-2 text-white font-bold md:border md:border-gray-500 text-left block md:table-cell">核銷</th>
			</tr>
		</thead>

		<tbody class="block md:table-row-group">
      <tr class="bg-white-300 border border-gray-500 md:border-none block md:table-row">
        <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">訂位時段</span>
          這裡要放訂單的訂位時間
        </td>
        <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">方案名稱</span>這裡要放訂單的方案</td>
        <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">訂位人姓名</span>這裡要放訂單的訂位人姓名</td>
        <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell"><span class="inline-block w-1/3 md:hidden font-bold">訂位人電話</span>
          這裡要放訂單的訂位時間
        </td>
        <td class="p-2 md:border md:border-gray-500 text-left block md:table-cell">
<% @order_summary.each do |order| %>
          <%= form_with url: new_backend_writeoff_path , method: "get" do |form| %>
            <%= form.text_field :writeoff_number, placeholder: '請輸入客戶提供的核銷碼' %>
            <%= form.text_field :order_id, value: order.id %>
            <%= form.text_field :store_id, value: params[:id] %>
            <div><%= form.submit '確認核銷' %></div>
          <% end %>
        </td>
      </tr>
	</tbody>
</table>
<div class="flex border-2">
  訂位人<%= order.name %>
  訂位人電話<%= order.tel %>
  餐卷<%= order.order_dish %>
  訂位時間<%= order.order_date %>
  訂位日期<%= order.order_time %>
  訂位人數<%= order.order_people %>
  訂單id<%= order.id %>
</div>

<% end %>

<%= link_to "新增方案", new_backend_store_dish_path(@store), class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded"%>