<%= stylesheet_link_tag "rollbar.css" %>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
  <%= t 'activerecord.attributes.store.food_types.ch' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype0_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.jp' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype1_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.ko' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype2_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.in' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype3_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.it' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype4_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.br' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype5_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.us' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype6_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.fr' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype7_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.de' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype8_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.mx' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype9_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>


<h1 class="flex justify-center p-5  lg:mx-40 md:mx-20 mx-5 my-10 mt-10 font-bold text-4xl tracking-widest text-gray-800 border-b-2 border-orange-300 border-dashed">
   <%= t 'activerecord.attributes.store.food_types.ot' %>
</h1>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
          <% @foodtype10_stores.last(9).each do |store| %>
          <div class="inline-block swiper-slide">
            <div class="w-full h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out border hover:border-orange-200 hover:bg-orange-50" >
              <%= link_to store_path(store) do %>
                <div class="object-cover h-40">
                  <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500 px-3"><%= truncate(store.intro, :length => 50) %></div>
              <% end %>
            </div>
          </div>
        <% end %>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>

const swiper = new Swiper('.swiper', {
  // Default parameters
  slidesPerView: 4,
  spaceBetween: 10,
  slidesPerGroup: 3,
  loop: true,
  loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  // Responsive breakpoints
  breakpoints: {
    // when window width is >= 320px
    480: {
      slidesPerView: 2,
      spaceBetween: 20
    },
    // when window width is >= 480px
    640: {
      slidesPerView: 3,
      spaceBetween: 30
    },
    // when window width is >= 640px
    960: {
      slidesPerView: 4,
      spaceBetween: 40
    }
  }
})

</script>
