<div class="xl:3/12 lg:w-5/12 md:w-7/12 sm:10/12 xs:11/12">
  <div class="p-5 bg-white rounded shadow-md uppercase">
    <h1 class="text-lg font-semibold tracking-widest text-center my-2">找尋您的美好食刻</h1>

    <%= search_form_for @q, url: search_result_pages_path do |f| %>

      <div class="flex justify-between">
        <%= f.label :store_name_cont, "餐廳名稱", class: "w-20 mt-4 text-xs font-semibold text-gray-600 " %>
        <%= f.search_field :store_name_cont, placeholder: "請輸入餐廳名稱", class: "w-full p-2 mt-2 text-gray-700 text-xs bg-gray-200  focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded" %>
      </div>

      <div class="flex justify-between">
        <%= f.label :store_address_cont_any, "餐廳地址", class: "w-20 mt-4 text-xs font-semibold text-gray-600" %>
        <%= f.search_field :store_address_cont_any, placeholder: "搜尋餐廳地址", class: "w-full p-2 mt-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded" %>
      </div>

      <div class="flex justify-between">
        <%= f.label :store_food_type_eq, "餐廳類型", class: "w-20 mt-4 text-xs font-semibold text-gray-600" %>
        <%= f.select :store_food_type_eq, Store.food_types.to_a.map { |w| [w[0].humanize, w[1]] }, {include_blank: true}, class: "w-full p-2 mt-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded" %>
      </div>

      <!-- <div class="flex justify-between">
<<<<<<< HEAD
        <%= f.label :open_dates_availible_date, "預定日期", class: "mt-4 text-xs font-semibold text-gray-600" %>
        <%= f.search_field :open_dates_availible_date, placeholder: "日期", class: "w-10/12 p-2 mt-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded", data: { action: "click->search#add_date" } %>
      </div>

      <div class="flex justify-between">
        <%= f.label :open_dates_offers_availible_time, "預定時間", class: "mt-4 text-xs font-semibold text-gray-600" %>
        <%= f.search_field :open_dates_offers_availible_time, placeholder: "時間", class: "w-10/12 p-2 mt-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded" %>
=======
        <%= f.label :open_dates_availible_date, "預定日期", class: "w-20 mt-4 text-xs font-semibold text-gray-600" %>
        <%= f.search_field :open_dates_availible_date, placeholder: "日期", class: "w-full p-2 mt-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded", data: { action: "click->search#add_date" } %>
      </div>

      <div class="flex justify-between">
        <%= f.label :open_dates_offers_availible_time, "預定時間", class: "w-20 mt-4 text-xs font-semibold text-gray-600" %>
        <%= f.search_field :open_dates_offers_availible_time, placeholder: "時間", class: "w-full p-2 mt-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded" %>
>>>>>>> e9a86f40b80db15ec12143bf70cf47b7cc6e9f59
      </div> -->

      <!-- <div class="flex 測試中">
        <template data-target="search-form.template">
          <%= f.search_field :open_dates_availible_date, child_index: "ADD_DATE" do |date|%>
          <%= render "search_fields", form: date %>
          <% end %>
        </template>
        <div class="">
      -->

      <%= f.submit "搜尋", class: "w-full py-2 mt-6 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-600 hover:shadow-none rounded-lg" %>
    <% end %>
    </div>
  </div>
</div>