<%= stylesheet_link_tag "slideshow.css" %>
<%# banner %>
      <div class="absolute z-50 pt-20 pb-52 px-20">
        <!-- component -->
        <div class="grid">
          <div class="p-5 bg-white rounded shadow-md">
            <h1 class="text-lg font-semibold">找尋你的美好食刻</h1>
            <form class="mt-3">
              <label class="block mt-2 text-xs font-semibold text-gray-600 uppercase">
                餐廳名稱
                <input placeholder="請輸入餐廳名稱" class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded" required />
              </label>
              <label class="block mt-2 text-xs font-semibold text-gray-600 uppercase">
                  日期
                  <input placeholder="2021/12/25" class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded" required />
              </label>
              <div class="pt-5 flex justify-evenly ">

                  <div class="w-1/12 pt-5 text-xs font-semibold text-gray-600">時間</div>
                  <input placeholder="19:00" class="block w-6/12 p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded" required />

                  <div class="w-1/12 pt-5 pl-2 text-xs font-semibold text-gray-600">人數</div>
                  <input name="password-confirm" placeholder="2" autocomplete="new-password" class=" w-4/12 block p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded" required />
              </div>
              <button type="submit" class="w-full py-2 mt-6 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-600 hover:shadow-none rounded-lg">
                搜尋
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="h-128  bg-stone-10—00 flex justify-center ">
      <img class="h-full " src="https://ezeat.s3.ap-northeast-1.amazonaws.com/tiger.jpg" alt="">
      </div>


<%# 關於餐廳 %>
<div class="w-full h-full mb-10 pt-10">
  <h2 class="flex justify-center pb-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
    精選餐廳
  </h2>

  <div class=" h-full m-auto">
    <%# 精選餐廳 %>
    <div class="w-11/12 m-auto p-8 border border-gray-300 rounded-md my-5 shadow-xl">
      <div class="flex mt-3 flex-wrap">
        <% @stores.last(9).each do |store| %>
          <div class="w-1/3 p-3">
            <%= link_to store_path(store) do %>
              <div class="">
                <%= image_tag store.image_url if store.image_url.present? %>
              </div>
              <div class="text-lg font-bold"><%= store.name %></div>
              <!-- 用truncate helper 限制最多顯示的字元 -->
              <div class="text-sm text-gray-500"><%= truncate(store.intro, :length => 110) %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="w-11/12 h-full m-auto">
    <div class="flex flex-col bg-white m-auto p-auto">
      <h1 class="flex justify-center py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
        中式美饌
      </h1>
      <div class="flex justify-start overflow-x-scroll pb-10 hide-scroll-bar">
        <div class="flex flex-nowrap " >
          <% @foodtype0_stores.first(9).each do |store| %>
            <div class="inline-block px-3">
              <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out" >
                <%= link_to store_path(store) do %>
                  <div class="">
                    <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                  <div class="text-lg font-bold"><%= store.name %></div>
                  <!-- 用truncate helper 限制最多顯示的字元 -->
                  <div class="text-sm text-gray-500"><%= truncate(store.intro, :length => 110) %></div>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="inline-block px-3">
            <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out" >
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="flex flex-col bg-white m-auto p-auto">
      <h1 class="flex justify-center py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
        日式料理
      </h1>

      <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
        <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 " >
          <% @foodtype1_stores.last(9).each do |store| %>
            <div class="inline-block px-3">
              <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out" >
                <%= link_to store_path(store) do %>
                  <div class="">
                    <%= image_tag store.image_url if store.image_url.present? %>
                </div>
                  <div class="text-lg font-bold"><%= store.name %></div>
                  <!-- 用truncate helper 限制最多顯示的字元 -->
                  <div class="text-sm text-gray-500"><%= truncate(store.intro, :length => 110) %></div>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="inline-block px-3">
            <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out" >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col bg-white m-auto p-auto">
    <h1 class="flex justify-center py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
      韓式料理
    </h1>

    <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
      <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 " >
        <% @foodtype2_stores.each do |store| %>
          <div class="inline-block px-3">
            <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out" >
              <%= link_to store_path(store) do %>
                <div class="">
                  <%= image_tag store.image_url if store.image_url.present? %>
              </div>
                <div class="text-lg font-bold"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-sm text-gray-500"><%= truncate(store.intro, :length => 110) %></div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="inline-block px-3">
          <div class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out" >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
</style>