<%# banner %>
<div class="absolute z-40 pt-20 px-20 w-full mt-10">
  <!-- component -->
  <%= render 'pages/search' %>
</div>


<div class="h-128 bg-stone-1000">
  <img class="object-cover h-full" src="https://ezeat.s3.ap-northeast-1.amazonaws.com/lunar_banner.jpg" alt="">
<div>

<%# 關於餐廳 %>
<div class="w-full h-full mb-10 pt-10">
  <h2 class="text-center pb-5 px-5 mx-5 font-bold text-4xl text-gray-800 tracking-widest">
    <%= t 'common.body.starred_restaurant' %>
  </h2>

<div class=" h-full m-auto">
  <%# 精選餐廳 %>
  <div class="w-11/12 m-auto p-8 border border-gray-300 rounded-md my-5 shadow-xl">
    <div class="md:flex md:flex-wrap mt-2">
      <% @stores.last(9).each do |store| %>
        <div class=" lg:w-1/3 md:w-1/2  md:p-3 mt-5">
          <%= link_to store_path(store) do %>
            <div class="rounded overflow-hidden border bg-white mx-3 md:mx-0 lg:mx-0 hover:border-orange-200 hover:bg-orange-50">
              <div class=" ">
              <%= image_tag store.image_url, class:"object-cover h-48 w-full" if store.image_url.present? %>
              </div>

              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 h-8"><%= store.name %></div>
                <!-- 用truncate helper 限制最多顯示的字元 -->
                <div class="text-gray-700 text-base h-32"><%= truncate(store.intro, :length => 110) %></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="w-11/12 h-full m-auto">
<%= render 'pages/food_types' %>
</div>



</div>