
<section class="antialiased text-gray-600 w-full m-auto my-10">
	<div class="flexjustify-center h-full">
		<!-- Table -->
			<div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-md border border-gray-200 sm:w-11/12 xs:w-11/12">

			<div class="p-3 w-full relative">

				<% @search_result.each do |store| %>
					<%# dish.open_dates.each do |date| %>
					<div class="text-sm font-medium ">
					<%#= link_to(store_path(dish.store.id)) do %>
					<div class="md:flex md:w-full text-center border border-dashed border-orange-50 rounded-sm my-1 hover:bg-orange-100">
						<div class="md:w-3/12 sm:w-full p-2 text-gray-800">
							<%= store.name %>
						</div>
						<div class="md:w-1/12 sm:w-full p-2 text-gray-800">
							<%= store.food_type %>
						</div>

						<div class="md:w-2/12 sm:w-full p-2  text-orange-500 text-xs">
							<%= store.address %>
						</div>

						<div class="md:w-2/12 sm:w-full p-2  text-orange-500 text-xs">
							<%= store.id %>
						</div>

						<div class="md:w-2/12 sm:w-full p-2  text-orange-500 text-xs">
							<%= store.dishes.ids %>
						</div>

					</div>

					</div>

				<% end %>
			</div>
		</div>
	</div>
</section>
