
<section class="antialiased text-gray-600 w-full m-auto my-10">
	<div class="flexjustify-center h-full">
		<!-- Table -->
			<div class="w-full max-w-3xl mx-auto bg-white shadow-lg rounded-md border border-gray-200 sm:w-11/12 xs:w-11/12">
				<div class="px-2 py-4 border-b  border-gray-100">
					<div class="font-semibold text-gray-800">
						<%= search_form_for @q, url: search_result_pages_path do |f| %>
						<div class="md:flex justify-between">
							<div class="mx-1 md:w-3/12">
								<%= f.label :name_cont, "餐廳名稱", class: "text-xs font-semibold text-gray-600 block" %>
								<%= f.search_field :name_cont, placeholder: "請輸入餐廳名稱", class: "xs:w-full mt-1 p-2 text-gray-700 text-xs bg-gray-200  focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded font-semibold" %>
							</div>
							<div class="mx-1 md:w-5/12">
								<%= f.label :address_cont_any, "餐廳地址", class: "text-xs font-semibold text-gray-600 block" %>
        				<%= f.search_field :address_cont_any, placeholder: "搜尋餐廳地址", class: "w-full mt-1 p-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded font-semibold" %>
							</div>
							<div class="mx-1 md:w-2/12">
								<%= f.label :food_type_eq, "餐廳類型", class: "text-xs font-semibold text-gray-600 block" %>
        				<%= f.select :food_type_eq, Store.food_types.to_a.map { |w| [w[0].humanize, w[1]] }, {include_blank: true}, class: "w-full mt-1 p-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded font-semibold" %>
							</div>
							<!-- <div class="mx-1 md:w-1/12">
								<%#= f.label :open_dates_availible_date, "預定日期", class: "text-xs font-semibold text-gray-600 block" %>
        				<%#= f.search_field :open_dates_availible_date, placeholder: "日期", class: "w-full mt-1 p-2 text-gray-700 text-xs bg-gray-200 focus:outline-none focus:bg-orange-100 focus:shadow-inner rounded font-semibold" %>
							</div> -->
							<div class="mx-1 md:w-1/12">
								<%= f.submit "搜尋", class: "xs:w-full  p-2 mt-5 text-xs font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-md focus:outline-none hover:bg-yellow-600 hover:shadow-none rounded-lg" %>
							</div>
						<% end %>
						</div>
					</div>
				</div>
			<div class="p-3 w-full relative">
				<div class="md:flex md:w-full text-xs text-center font-semibold text-gray-700 bg-gray-50 sticky top-0">
					<div class="md:w-6/12 sm:w-full p-2">
						<%= sort_link(@q, :name_cont, "餐廳名稱", { class: "" })%>
					</div>
					<div class="md:w-2/12 sm:w-full p-2">
						<%= sort_link(@q, :food_type_eq, "類型", { class: "" })%>
					</div>
					<!-- <div class="md:w-2/12 sm:w-full p-2">
						<%#= sort_link(@q, :open_dates_availible_date, "日期")%>
					</div> -->
					<div class="md:w-4/12 sm:w-full p-2">
						<%= sort_link(@q, :address_cont_any, "餐廳地址")%>
					</div>
				</div>

				<% @search_result.each do |store| %>
					<%# store.open_dates.each do |date| %>
					<% store.dishes.each do |dish| %>
					<%# dish.open_dates.each do |date| %>
					<%# date.offers.take(3).each do |offer| %>
					<div class="text-md font-medium ">
					<%= link_to(store_path(store.id)) do %>
					<div class="md:flex md:w-full text-center border border-dashed border-orange-50 rounded-sm my-1 hover:bg-orange-100 items-center">
						<div class="md:w-2/12 sm:w-full p-2 text-gray-800 flex justify-center">
							<div>
							<%= image_tag store.image_url if store.image_url.present? %>
							</div>
						</div>
						<div class="md:w-4/12 sm:w-full p-2 text-gray-800 font-semibold text-lg">
							<%= store.name %>
						</div>
						<div class="md:w-2/12 sm:w-full p-2 text-gray-800">
							<%= store.food_type %>
						</div>
						<!-- <div class="md:w-2/12 sm:w-full p-2 text-gray-800">
							<%#= offer.availible_time %>
						</div> -->
						<!-- <div class="md:w-2/12 sm:w-full p-2 text-orange-500">
							<%#= date.availible_date %>
						</div> -->
						<!-- <div class="flex md:w-4/12 sm:w-full p-2"> -->
							<%# date.offers.take(3).each do |time| %>
							<!-- <button type="submit" class="w-full mx-1 text-orange-500 bg-white shadow-sm hover:bg-orange-500 hover:text-white hover:shadow-none rounded-lg border border-orange-50">
								<div><%#= time.availible_time.strftime("%H:%M") %></div>
							</button> -->
							<%# end %>
						<!-- </div> -->
						<div class="md:w-4/12 sm:w-full p-2  text-orange-500 text-sm">
							<%= store.address %>
						</div>
					</div>
					<%# end %>
					</div>
					<%# end %>
					<%# end %>
					<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>
