	<div class="container">
		<h1>Results</h1>
		<div class="flex">
			<div>
				<%= sort_link(@q, :store_name_cont, "商店名稱", { class: "" })%>
			</div>
			<div>
				<%= sort_link(@q, :store_address_cont_any, "商店地址", { class: "" })%>
			</div>
			<div>
				<%= sort_link(@q, :store_food_type_eq, "食物類型", { class: "" })%>
			</div>
			<div class="bg-red-300 w-5">
			</div>
			<div class="bg-yellow-300 w-3">
			</div>
		</div>
		<% @search_result.each do |dish| %>
			<% dish.open_dates.each do |date| %>
				<div class="flex">
					<div><%= dish.store.name %></div>
					<div><%= dish.store.address %></div>
					<div><%= dish.store.food_type %></div>
					<div><%= date.availible_date %></div>
						<%= link_to(store_path(dish.store.id)) do %>
							<div class="flex" >
								<% date.offers.each do |time| %>
									<div><%= time.availible_time.strftime("%H:%M") %></div>
								<% end %>
							</div>
						<% end %>
				</div>
			<% end %>
		<% end %>
	</div>

<section class="antialiased text-gray-600 w-full m-auto my-10">
	<div class="flexjustify-center h-full">
		<!-- Table -->
			<div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
				<header class="px-5 py-4 border-b border-gray-100">
					<h2 class="font-semibold text-gray-800">
						<div class="flex justify-between">
							<label class="block mt-2 text-xs font-semibold text-gray-600 uppercase w-2/6">餐廳名稱
								<input placeholder="請輸入餐廳名稱" class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded" required />
							</label>
							<label type="date" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">日期
								<input placeholder="2021/12/25" class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded" required />
							</label>
							<label type="time" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">時間
								<input placeholder="19:00" class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded" required />
							</label>
							<label type="number" class="block mt-2 text-xs font-semibold text-gray-600 uppercase w-1/6">人數
								<input name="password-confirm" placeholder="2" autocomplete="new-password" class="block w-full p-2 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner rounded" required />
							</label>
						</div>
					</h2>
				</header>
			<div class="p-3">
				<div class="overflow-x-auto">
					<table class="table-auto w-full">
						<thead class="text-xs font-semibold uppercase text-gray-700 bg-gray-50">
							<tr>
								<th class="p-2 whitespace-nowrap">
									<div class="font-semibold text-left">餐廳名稱</div>
								</th>
								<th class="p-2 whitespace-nowrap">
									<div class="font-semibold text-left">時段</div>
								</th>
								<th class="p-2 whitespace-nowrap">
									<div class="font-semibold text-left">地區</div>
								</th>
							</tr>
						</thead>
						<tbody class="text-sm divide-y divide-gray-100">
							<tr>
								<td class="p-2 whitespace-nowrap">
									<div class="flex items-center">
										<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-05.jpg" width="40" height="40" alt="Alex Shatov"></div>
											<div class="font-medium text-gray-800">AAAAAAAAAA</div>
											</div>
								</td>
								<td class="p-2 whitespace-nowrap">
									<div class="text-left">
										<button type="submit" class="w-full py-1 font-medium tracking-widest text-yellow-500 uppercase bg-white border-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-500 hover:text-white hover:shadow-none rounded-lg">
											您所選的日期無提供可預訂座位
										</button>
									</div>
								</td>
								<td class="p-2 whitespace-nowrap">
									<div class="text-left font-medium text-orange-500 text-xs">台北市士林區
									</div>
								</td>
							</tr>
							<tr>
								<td class="p-2 whitespace-nowrap">
									<div class="flex items-center">
										<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3">
											<img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-06.jpg" width="40" height="40" alt="Philip Harbach">
										</div>
										<div class="font-medium text-gray-800">BBBBB</div>
									</div>
								</td>
								<td class="p-2 whitespace-nowrap">
									<div class="text-left">
										<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
											18:00
										</button>
										<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
											19:30
										</button>
									</div>
								</td>
								<td class="p-2 whitespace-nowrap">
									<div class="text-left font-medium text-orange-500 text-xs">台北市中山區
									</div>
								</td>
							</tr>
							<tr>
	<td class="p-2 whitespace-nowrap">
			<div class="flex items-center">
					<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-07.jpg" width="40" height="40" alt="Mirko Fisuk"></div>
					<div class="font-medium text-gray-800">CCCCC</div>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left">
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				19:00
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				19:30
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				20:30
				</button>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left font-medium text-orange-500 text-xs">台北市中正區</div>
	</td>
</tr>
<tr>
	<td class="p-2 whitespace-nowrap">
			<div class="flex items-center">
					<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-08.jpg" width="40" height="40" alt="Olga Semklo"></div>
					<div class="font-medium text-gray-800">DDDDD</div>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left">
				<button type="submit" class="w-full py-1 font-medium tracking-widest text-yellow-500 uppercase bg-white border-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-500 hover:text-white hover:shadow-none rounded-lg">
					您所選的日期無提供可預訂座位
				</button>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left font-medium text-orange-500 text-xs">台北市中正區</div>
	</td>
</tr>
<tr>
	<td class="p-2 whitespace-nowrap">
			<div class="flex items-center">
					<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-09.jpg" width="40" height="40" alt="Burak Long"></div>
					<div class="font-medium text-gray-800">EEEEE</div>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left">
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				18:00
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				18:30
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				20:00
				</button>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left font-medium text-orange-500 text-xs">台北市士林區</div>
	</td>
</tr>
<tr>
	<td class="p-2 whitespace-nowrap">
			<div class="flex items-center">
					<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-05.jpg" width="40" height="40" alt="Alex Shatov"></div>
					<div class="font-medium text-gray-800">AAAAA</div>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left">
			<button type="submit" class="w-full py-1 font-medium tracking-widest text-yellow-500 uppercase bg-white border-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-500 hover:text-white hover:shadow-none rounded-lg">
				您所選的日期無提供可預訂座位
			</button>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left font-medium text-orange-500 text-xs">台北市士林區</div>
	</td>
</tr>
<tr>
	<td class="p-2 whitespace-nowrap">
			<div class="flex items-center">
					<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-06.jpg" width="40" height="40" alt="Philip Harbach"></div>
					<div class="font-medium text-gray-800">BBBBB</div>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left">
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				18:00
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				19:30
				</button>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left font-medium text-orange-500 text-xs">台北市中山區</div>
	</td>
</tr>
<tr>
	<td class="p-2 whitespace-nowrap">
			<div class="flex items-center">
					<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-07.jpg" width="40" height="40" alt="Mirko Fisuk"></div>
					<div class="font-medium text-gray-800">CCCCC</div>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left">
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				19:00
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				19:30
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				20:30
				</button>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left font-medium text-orange-500 text-xs">台北市中正區</div>
	</td>
</tr>
<tr>
	<td class="p-2 whitespace-nowrap">
			<div class="flex items-center">
					<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-08.jpg" width="40" height="40" alt="Olga Semklo"></div>
					<div class="font-medium text-gray-800">DDDDD</div>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left">
				<button type="submit" class="w-full py-1 font-medium tracking-widest text-yellow-500 uppercase bg-white border-yellow-500 shadow-lg focus:outline-none hover:bg-yellow-500 hover:text-white hover:shadow-none rounded-lg">
					您所選的日期無提供可預訂座位
				</button>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left font-medium text-orange-500 text-xs">台北市中正區</div>
	</td>
</tr>
<tr>
	<td class="p-2 whitespace-nowrap">
			<div class="flex items-center">
					<div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3"><img src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-09.jpg" width="40" height="40" alt="Burak Long"></div>
					<div class="font-medium text-gray-800">EEEEE</div>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left">
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				18:00
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				18:30
				</button>
				<button type="submit" class="w-1/3 py-1 font-medium tracking-widest text-white uppercase bg-yellow-500 shadow-lg focus:outline-none hover:bg-white hover:text-yellow-500 hover:border-yellow-500 hover:shadow-none rounded-lg">
				20:00
				</button>
			</div>
	</td>
	<td class="p-2 whitespace-nowrap">
			<div class="text-left font-medium text-orange-500 text-xs">台北市士林區</div>
	</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</section>
