<div class="bg-gray-100 max-w-screen-md container mx-auto pb-4">

	<div class="border-b-2 px-4 py-10">	
		<div class="flex pb-3">

			<div class="flex-1">
				<div class="w-10 h-10 bg-red-400 border-2 border-red-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-center w-full">1</span>
				</div>
			</div>

			<div class="w-1/6 align-center items-center align-middle content-center flex">
				<div class="w-full bg-grey-light rounded items-center align-middle align-center flex-1">
					<div class="bg-red-400 text-xs leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>
		
			<div class="flex-1">
				<div class="w-10 h-10 bg-red-400 border-2 border-red-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-center w-full">2</span>
				</div>
			</div>
		
			<div class="w-1/6 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1">
					<div class="bg-red-400 text-xs leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>
		
			<div class="flex-1">
				<div class="w-10 h-10 bg-red-400 border-2 border-red-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-center w-full">3</span>
				</div>
			</div>

			<div class="w-1/6 align-center items-center align-middle content-center flex">
				<div class="w-full rounded items-center align-middle align-center flex-1">
					<div class="bg-red-400 text-xs leading-none py-1 text-center rounded " style="width: 100%"></div>
				</div>
			</div>

			<div class="flex-1">
				<div class="w-10 h-10 bg-red-400 border-2 border-red-400 mx-auto rounded-full text-lg text-white flex items-center">
					<span class="text-center w-full">4</span>
				</div>
			</div>

		</div>
		
		<div class="flex text-lg content-center text-center py-1">
			<div class="w-1/4 text-sm text-red-500">
				選擇日期
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/4 text-sm text-red-500">
				選擇時間<br>及人數
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>

			<div class="w-1/4 text-sm text-red-500">
				確認訂位資訊
			</div>

			<div class="w-1/3 align-center items-center align-middle content-center flex">
			</div>
			
			<div class="w-1/4 text-sm text-red-500">
				確認交易結果
			</div>
		</div>

	</div>

<h3 class="bg-orange-100 text-black text-4xl py-14 pl-6 border-b-2 text-center ">交易結果：
      <% if @response.status === "SUCCESS"%>
      <%= "😉 購買票卷成功！" %>
      <% else %>    
      <%= "😕 購買票卷失敗！" %><br>
			<span><%= @response.message %></span>
      <% end%>
</h3>

<h3 class="bg-gray-300 text-black text-lg py-3 pl-6 border-b-2">購買明細</h3>

	<div class="text-left text-lg font-medium border-b-2 border-gray-500 pl-8 bg-orange-200 py-3">餐卷：<%= @order.order_dish %></div>
	<div class="text-left text-lg font-medium border-b-2 border-gray-500 pl-8 bg-orange-200 py-3">時間：<%= @order.order_date %></div>
	<div class="text-left text-lg font-medium border-b-2 border-gray-500 pl-8 bg-orange-200 py-3">日期：<%= @order.order_time %></div>
	<div class="text-left text-lg font-medium border-b-2 border-gray-500 pl-8 bg-orange-200 py-3">人數：<%= @order.order_people %></div>
	<div class="text-left text-lg font-medium border-b-2 border-gray-500 pl-8 bg-orange-200 py-3">本地金額：<%= @order.ezeat_amount %></div>
	<div class="text-left text-lg font-medium border-b-2 border-gray-500 pl-8 bg-orange-200 py-3">藍新金額：<%= @order.newebpay_amount %></div>
	<div class="text-left text-lg font-medium border-b-2 border-gray-500 pl-8 bg-orange-200 py-3">藍新交易時間：<%= @order.newebpay_time %></div>
	<div class="text-left text-lg font-medium border-b-2 border-gray-500 pl-8 bg-orange-200 py-3">藍新卡號六碼：<%= @order.newebpay_card6no %></div>

</div>

