<div class='w-full max-w-sm'>


  <div class="md:flex md:items-center mb-6">
    <div class=" ">
        <h1 class='block text-black-500 text-3xl font-bold md:text-right mb-1 md:mb-0 pr-4'>修改可訂位日期</h1>
    </div>
  </div>

  <%= form_with model: [:backend, @offer] do |form| %>

    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <%= form.label :availible_time, '可訂位時段', class: 'block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4' %>
      </div>
      <div class="md:w-1/4 ">
        <%= form.time_select :availible_time, 
          ignore_date: true, 
          {minute_step: 30} %>
      </div>
    </div>

    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <%= form.label :capacity, '開放訂位人數', class: 'block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4' %>
      </div>
      <div class="md:w-2/3">
        <%= form.number_field :capacity, class: 'bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500'  %>
      </div>
    </div>


    <div class="md:flex md:items-center justify-end">
      <div class=" "></div>
      <div class=" ">
        <%= form.submit value="儲存資料", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>

        <%= link_to backend_open_date_offers_path(@offer.open_date), method: 'get', class: 'bg-gray-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' do %>
          取消
        <% end %>
      </div>
    </div>

  <% end %>

</div>



