<!DOCTYPE html>
<html>
  <head>
    <title>EZeat後台管理系統</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/backend/navbar' %>
    <%= render 'shared/backend/flash_message' %>
    <%= yield %>
<<<<<<< HEAD
    <%= render 'shared/backend/footer' %>
=======
    <%= render 'shared/footer' %>
>>>>>>> 054f1423faed4198305df4798ec887ad88c9ef54
  </body>

</html>
